<div class="jumbotron text-center">
  <h2>About Us</h2>
  <p>Welcome to Val Teams. This is a community to help navigate the fast paced and ever changing job market for validation engineers.</p>
</div>
