// body {
//   // gradient from http://uigradients.com/#
//   background: -webkit-linear-gradient(90deg, #83a4d4 10%, #b6fbff 90%); /* Chrome 10+, Saf5.1+ */
//   background:    -moz-linear-gradient(90deg, #83a4d4 10%, #b6fbff 90%); /* FF3.6+ */
//   background:     -ms-linear-gradient(90deg, #83a4d4 10%, #b6fbff 90%); /* IE10 */
//   background:      -o-linear-gradient(90deg, #83a4d4 10%, #b6fbff 90%); /* Opera 11.10+ */
//   background:         linear-gradient(90deg, #83a4d4 10%, #b6fbff 90%); /* W3C */
//
// }

.job-title-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #2e6da4;
  border-radius: 4px;
  background-color: #337ab7;
  color: white;
  text-align: center;
}
.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}
.well.profile-description {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.well.contact-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}
